<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>Chech out my <a href="/about">About</a> page.</p>
    <p>
      this is what you will be seeing if the html is working in the homepage
    </p>
  </body>
</html>
